<div class="input-fields">
<span>CLIENT ID: <input style="width:100%; border: 1px solid grey" [(ngModel)] =clientID type="text" autocomplete=""></span>
<br>
<span>CLIENT SECRET: <input style="width:100%;border: 1px solid grey" [(ngModel)]=clientSecret type="password" autocomplete=""></span>
<br>
<span>STAGING<input type="radio" [(ngModel)]=environment value="staging" checked></span>
<br>
<span>PRODUCTION: <input type="radio" [(ngModel)]=environment value="production"></span>
<br>
<button routerLink="/home" style="text-align:center;border:1px solid black" (click)="onSave()">SAVE</button>
</div>