
.date-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-transform: uppercase;
    height: 10vh;
}
.root-container{
    height: 68vh;
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
    /* margin: 15px; */
}
input.date-field{
    /* border: 1px solid #999;
    background: #999;
    color:#999;
    height: 40px;
    color: #666; */
    width: 100%;
}
input.check-field{
    height: 26px;
    width: 26px;
}
span.label{
    margin: 10px;
    /* text-align: center; */
}

.input-field{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: none;
    width: 100%;
}
div.fixture{
    background: #999;
    margin: 10px;
}
div.tournament{
    background: lightgray;
    color: black;
    padding-left: 5px;
    text-transform: uppercase;
}
.matches-container{
    height: 68vh;
    overflow: scroll;
    background: #666;
    font-size: 14px;
}
.market-header{
    background: #14805E;
    margin: 10px;
    color: #D9B311;
    padding: 10px;
    height: 3vh;
    border: 3px solid white;
    text-align: center;
}
.selected-container{
    height: 68vh;
    overflow: scroll;
    background: #666;
}
.data-container{
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}
button.save{
    color: #666;
    border: none;
    background: black;
    height: 35px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
}
.jackpot-details-container{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* margin: 10px;
    padding: 10px; */
}
.odds-container{
    color: white;
    text-align: center;
    letter-spacing: 2px;
}
@media only screen and (max-width: 768px) {
    .date-container{
        flex-direction: column;
        align-items: stretch;
        margin: 10px;
        height: auto;
    }
    .root-container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 100vh;
    }
    .jackpot-details-container{
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .data-container{
        flex-direction: column;
    }
    button.save{
        margin: 10px;
    }
    input.date-field{
        height: 30px;
        width: 100%;
    }
    span.label{
        display: flex;
        flex-direction: column;
        line-height: 2;
        margin: 0;
    }
}